/* STYLING TO DO */
/* Space after screen__answer on the right needs removing */
/* On click - button feedback (change blue outline)*/
/* Think about disabling certain buttons (e.g. decimal once clicked) */

/* + button flex stretch vert? and double check calc */
/* Thinner cell bottom borders */
/* responsive rems :( */

/* JS TO DO */
/* What happens when you have too many characters (8 digits max)/calculated value high*/
/* Need to add key press for 0-9 and + etc*/


*,
*:before,
*:after {
  box-sizing: border-box;
	/* border: 1px solid lightblue; */
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
	font-family: 'Roboto Mono', monospace;
	background-color: #E0FCFF;
	color: #404969;
}

.title {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .04rem;
	font-size: 1.1rem;
	margin: 0;
	white-space: nowrap;
}

.header {
		margin-bottom: .1rem;
}

.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.calculator {
	background-color: #404969;
	color: #E0FCFF;
	font-weight: 700;
	width: 15.7rem;
}

.screen__answer {
	font-size: 2.23rem;
	margin-bottom: -7px;
	text-align: right;
}

.screen__display {
	white-space: nowrap;
	overflow: hidden;
	font-size: .6rem;
	text-align: right;
}

.calc-screen {
	border-bottom: 5.5px solid #E0FCFF;
	padding: 1.7rem 1.7rem 0;
}

.calc-body {
	font-size: 1.02rem;
	padding: .85rem 1.3rem 1.9rem;
}

.body__cell {
	float: left;
	width: calc(25% - .86rem);
	border-bottom: 1px solid rgba(224, 252, 255, 1);
	margin: .43rem;
	padding-left: .3rem;
	padding-bottom: .4rem;
	padding-top: .7rem;
	cursor: pointer;
}

button {
	background-color: transparent;
	border: none;
	font-family: inherit;
	font-size: inherit;
	text-align: left;
	color: #E0FCFF;
	font-weight: 700;
}

.is-orange {
	color: #FF7F50;
	border-bottom: 1px solid #FF7F50;
}

.is-long-cell {
	padding-top: calc(3.75rem + 2px);
	float: right;
}
