*,
*:before,
*:after {
	/* border: 1px solid lightblue; */
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
	font-family: 'Roboto Mono', monospace;
	background-color: #E0FCFF;
	color: #404969;
}

.title {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .05rem;
	font-size: 1rem;
}

.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
