/* STYLING TO DO */
/* Space after screen__answer on the right needs removing */
/* What happens when very long line of calcs */
/* Argh the massively long + button */
/* Thinner cell bottom borders */

/* JS TO DO */
/* What happens when you have too many characters/calculated value high*/
/* Need to add key press for 0-9 and + etc*/


*,
*:before,
*:after {
	/* border: 1px solid lightblue; */
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
	font-family: 'Roboto Mono', monospace;
	background-color: #E0FCFF;
	color: #404969;
}

.title {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .04rem;
	font-size: 1.1rem;
	margin: 0;
	white-space: nowrap;
}

.header {
		margin-bottom: .1rem;
}

.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.calculator {
	background-color: #404969;
	color: #E0FCFF;
	font-weight: 700;
	min-width: 15.7rem;
}

.screen__answer {
	font-size: 2.25rem;
	margin-bottom: -7px;
	text-align: right;
}

.screen__display {
	font-size: .6rem;
	text-align: right;
}

.calc-screen {
	border-bottom: 5.5px solid #E0FCFF;
	padding: 1.8rem 1.7rem 0;
}

.calc-body {
	font-size: 1.08rem;
	padding: .6rem 1.3rem 2rem;
}

.body__cell {
	float: left;
	width: calc(25% - .8rem);
	border-bottom: thin solid rgba(224, 252, 255, 1);
	margin: .4rem;
	padding-left: .3rem;
	padding-bottom: .4rem;
	padding-top: .7rem;
}

.is-orange {
	color: #FF7F50;
	border-bottom: thin solid #FF7F50;
}
